<ng-container *ngIf="viewportSize$ | async as viewportSize">
  <div class="app-center app-card-wrapper">
    <div>
      <a href="https://www.ekiipago.com/"
        ><img src="/frontend-link-de-cobro/assets/ekiipago-logo.svg" alt=""
      /></a>
    </div>

    <div
      class="m20"
      [ngClass]="{ 'app-not-so-full-width': viewportSize === 'XSmall' }"
    >
      <mat-card class="app-shadow app-card-container error-center"
        ><div class="app-center app-card-content">
          <div class="invalid-point-img-container">
            <div class="invalid-point-img"></div>
          </div>
          <img style="margin-top: 10%" [src]="getStatusImgSrc()" alt="" />

          <div class="app-text-center invalid-text-content">
            <h2>¡Ups!</h2>
            <h1>{{ getStatusTitle() }}</h1>
            <p>{{ getStatusMsg() }}</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-container>
